<li>
    <p>{{FName}} {{LName}} / Bar Roll No.: {{barNumber}}</p>

    <form>
        <div class="list-group-item">
            <b>PLAINTIFF ATTORNEY FIRST NAME:</b> <input id="pAttyFName" placeholder="{{FName}}"></input>
        </div>
        <div class="list-group-item">
            <b>PLAINTIFF LAST NAME:</b> <input id="pAttyLName" placeholder="{{LName}}"></input>
        </div>
        <div class="list-group-item">
            <b>BAR ROLL NUMBER:</b> <input id="pAttyBarNo" placeholder="{{barNumber}}"></input>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="update-pAtty" data-id="{{id}}">Update
                Plaintiff Attorney</button>
        </div>
    </form>
</li>